<ion-header>
  <ion-toolbar color="primary">
    <ion-title>MAPA &nbsp;&nbsp; <ion-icon name="map"></ion-icon></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div #mapElement class="map"></div>
    <ion-card>
  <ion-card-header>
  	<img src="https://gestion.pe/resizer/2l6z2UaeXczrxRjBJf-92aVA5Cs=/940x569/smart/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/HQMJSJXOKBCWRCTBY5ZPYYBEVM.jpg" alt="">
    <ion-card-title>DISTANCIA DE PUNTOS</ion-card-title>
  </ion-card-header>

  <ion-card-content>
 		UA / Plaza de Armas - ESBOL: {{dis}} &nbsp; kms
 		<br>
 		<br>
 		UA /UNIVALLE: {{dis2}} &nbsp; kms
  </ion-card-content>
</ion-card>
</ion-content>
