<ion-header>
  <ion-toolbar>
    <ion-title>Patrocinadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      UCEVA
    </ion-card-header>
    <ion-card-content>
      La UCEVA apoya a los grupos de investigación de la región
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Gelatina
    </ion-card-header>
    <ion-card-content>
      La gelatina que alimenta en verdad
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      COCA
    </ion-card-header>
    <ion-card-content>
      Mi meta es vivir cada día con alegría
    </ion-card-content>
  </ion-card>

</ion-content>
