.bg-image{
	background-image: url('https://image.freepik.com/foto-gratis/textura-o-fondo-blanco-papel-acuarela_1715-568.jpg');
	backgroun-size: contain;

	}

.no-scroll .scroll-content{
	overflow: hidden;
	}
