<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     Login 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content" padding>
  <ion-row>
    <ion-col>
      <ion-button class="log-in-button" color="danger" expand="block" (click)="doGoogleLogin()">
        LOG IN WITH GOOGLE &nbsp;  <ion-icon name="logo-google"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
