.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.bg-image{
	background-image: url('http://www.fondosni.com/images/2012-09-22/Fondo%20azul%20con%20rosa%20y%20naranja-768139.jpg');
	backgroun-size: contain;

	}

.no-scroll .scroll-content{
	overflow: hidden;
	}